@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-title {
  position: relative;
  height: 45px;
  width: 96%;
  margin: 2%;
  padding: 0 5%;
  bottom: 0;
  vertical-align:bottom;
  background:rgba(0,0,0,0.4);
  /* filter:blur(4px); */
}
 
 ul li a.active {
  color: #0B0B0B;
  font-weight: 900;
  font-family: plus-jakarta-sans-semi-bold;
 } 